/* AJAXSORTER 1.0 STYLE*/
.ajaxSorterDiv{
    width: 98%;
    margin: 0px auto;
}
table.ajaxSorter{
    font-family:arial;
    background-color: lightgray;
    margin:10px 0px 0px 0px;
    font-size: 9pt;
    width: 100%;
    text-align: left;
    border: solid 1px lightgray;
    border-spacing: 0px;   
 
}
table.ajaxSorter thead tr{	
    background-color: #DBE5F1;   
    font-size: 9pt;
    font-weight: bold;
    color:#3D3D3D;      
    border-bottom: solid 1px black;
}
table.ajaxSorter thead tr th{ 
    padding: 3px 5px;  
    cursor: pointer;    
}
.none{
    background-image: url(bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
}
.asc{
    background-image: url(asc.gif);
    background-repeat: no-repeat;
    background-position: center right;   
}
.desc{
    background-image: url(desc.gif);
    background-repeat: no-repeat;
    background-position: center right;
}
.spacing{
    padding: 5px;    
}
.custom_tab .filter .filter-text{
     font-size: 9pt;	 
	 height:24px;	 
}
.custom_tab .filter label{
     font-size: 9pt;	 
	 height:24px;	 
}
.filter .filter-text{
     font-size: 9pt;	 
	 height:24px;
}
.filte input, .filter select{
     font-size: 9pt;
}
.ajaxpager ul.order_list{     	
    width: 100px;  
	margin-top:5px;
	background-color:lightgray;
    list-style: none; 	
	float:left;
}
.filter input.keep_filter{
    margin-right: 0px;
    
}
.ajaxpager ul.order_list li{      
    display: none;
    text-align: left;
    font-size: 9pt;  
    padding: 2px;
    border-bottom:solid 1px lightgray;	
}

.ajaxpager ul.order_list li:hover{
    background-color: #F5F6CE;
    background-image: url(del.png);
    background-repeat: no-repeat;
    background-position: center right;    
}

.ajaxpager ul.order_list li.list_header{
    opacity: 1;   
    display: block;    
    text-align: center;    
    padding: 1px 5px;
    font-weight: bold;
    background-color: #DBE5F1;
}
.ajaxpager ul.order_list:hover > li{ 
    opacity: 1;    
    display: block;
}
.filter label{
    font-size: 9pt;
}
table.ajaxSorter tbody{
    cursor: pointer;    
}
table.ajaxSorter tbody tr{
    border-top: solid 1px lightgray;
}
table.ajaxSorter tbody tr:nth-child(even){    
    background-color: #DBE5F1;
}
table.ajaxSorter tbody tr:nth-child(odd){    
    background-color: white;
}
table.ajaxSorter tbody tr:hover{   
    background-color: lightgray;       
}
table.ajaxSorter tbody tr td{
    font-family: arial; 
    padding: 3px 0px;
    padding-left: 2px;    
}
.ajaxpager {
	margin-top:0px;
    text-align: center;
	overflow:hidden;
}
.ajaxpager form {  
	margin:0px 0px;
	float:right;
}
.ajaxSorterNULL{
    font-weight: bold;
}

