.custom_tab{
	height: 400px;
	overflow-x: auto;
	overflow-y: auto;
} /* Estilo para dejar el heigth de las tabs de un solo tamaño aplicarse a cada div de cada tab scroll por defecto*/
.custom_page{
	height: 465px;
	overflow-x: auto;
	overflow-y:auto;
}
.pointer{
	cursor:pointer;
}
html{
	font-size:62.5%;
}
body{
	font-size:1.2em;
	color:#294f88;
	font-size:1.1em;
	font-family: Tahoma, Geneva, sans-serif;
}
h1{
	margin:0 0 20px 0;
	padding:0;
	font-size:2em;
}
h2{
	margin:40px 0 20px 0;
	padding:0;
	font-size:1.6em;
}
.easy-accordion h2{
	margin:0px 0 20px 0
	;padding:0;
	font-size:1.6em;
}
p{
	font-size:1.2em;
	line-height:170%;
	margin-bottom:20px
}

body h2{
	font-size:2.5em;
	margin-top:10px
}
