/*Tabs Style*#f0f0f0*/
body {
	background: #fff;
	margin: 0;
	padding: 0;
	/*font: 10px normal Verdana, Arial, Helvetica, sans-serif;
	font: 10px normal Verdana, Geneva, Arial, Helvetica, sans-serif;*/
	color: #444;
}
h1 
{
  font-size: 3em; 
  margin: 20px 0;
}
.container
{
  width: 960px; margin: 0px auto; margin-top: -2px;  
}
ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px;
	border-bottom: 1px solid #999;
	/*border-top: 1px solid #999;*/
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	width: 99.8%;
	
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px;
	line-height: 31px;
	border: 1px solid #999;
	border-left: none;
	margin-bottom: -1px;
	background:#e0e0e0; /*#000033; */
	overflow: hidden;
	position: relative;

}
ul.tabs li a {
	text-decoration: none;
	color: #000033; /* #000;*/
	display: block;
	font-size: 1.2em;
	padding: 0 20px;
	border: 1px solid #fff;
	outline: none;
}
ul.tabs li a:hover {
	background: #ccc;		
}	
html ul.tabs li.active, html ul.tabs li.active a:hover  
{  
  background: #fff; /*#666666;/* #FF9900; /* #FFCC00; /*#fff;*/
  border-bottom: 1px solid #fff;

}
.tab_container 
{
	border: 1px solid #999;
	border-top: none;
	clear: both;
	float: left; 
	width: 99.8%;	
	background: #fff;
	-moz-border-radius-bottomright: 5px;
	-khtml-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-khtml-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	/*background-image:url(../images/aqpcontenido.png);*/
}
.tab_content {
	padding: 10px;
	font-size: 1.2em;
	height: 452px;
}
.tab_content h1 { 
	padding-left: 150px;

	 
/*	font-weight: normal;
	padding-bottom: 10px;
	border-bottom: 1px dashed #ddd;
	font-size: 1.8em;*/
}
.tab_content h2 {
	font-weight: normal;
	padding-bottom: 10px;
	border-bottom: 1px dashed #ddd;
	font-size: 1.8em;
}
.tab_content h3 a{
	color: #254588;
}
.tab_content img {
	float: left;
	margin: 0 20px 20px 0;
	/*border: 1px solid #ddd;*/
	padding: 5px;
}

