@charset "UTF-8";
.bbcode_container{margin:20px;margin-top:5px;display:block}
.bbcode_container .bbcode_desc{margin-bottom:2px;font-size:11px}
.bbcode_container div.bbcode_code,.bbcode_container pre.bbcode_code{margin:0;padding:6px;border:1px inset;text-align:left;overflow:scroll;direction:ltr;background:#f2f6f8 none repeat-x ;font-size:12px}
.bbcode_container code.bbcode_code{margin:0;text-align:left;direction:ltr;font-size:12px}
.bbcode_container code.bbcode_code code{white-space:nowrap}
.bbcode_container div.bbcode_quote{margin:0 10px;margin-bottom:10px;-moz-border-radius:5px;-webkit-border-radius:5px;background:#eaeaea none ;border-radius:5px;border:1px solid #417394;font:normal normal 13px verdana,Tahoma,Calibri,Verdana,Geneva,sans-serif;position:relative;top:0}
.bbcode_container .bbcode_quote_container{background:transparent url(quote-left.png) no-repeat left;display:block;width:9px;height:13px;position:absolute;top:5;left:-9px}
.bbcode_quote div.quote_container{-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;padding:5px 10px 5px 10px}
.bbcode_quote .bbcode_postedby img{position:relative;top:1px}
.bbcode_container div.bbcode_quote.printable{background:none;border:none}
.bbcode_container div.bbcode_quote div.message{padding:8px 0px}
.bbcode_container div.bbcode_quote div.message ol>li,.bbcode_container div.bbcode_quote div.message ul>li{float:none}
.bbcode_postedby{font:normal 12px Tahoma,Calibri,Verdana,Geneva,sans-serif}
.bbcode_postedby img{margin:0}
.texteditor textarea.cke_source{padding:0 1px 0 1px}
.texteditor.content .cke_skin_kama textarea.cke_source,.texteditor textarea{color:#222222;font:13px Tahoma,Calibri,Verdana,Geneva,sans-serif;white-space:pre-wrap;background:#FFFFFF none }
.texteditor.forum .cke_skin_kama textarea.cke_source,.texteditor.forum textarea{color:#222222;font:13px Verdana,Arial,Tahoma,Calibri,Geneva,sans-serif;white-space:pre-wrap;background:#FFFFFF none }
.editor_smiliebox{float:right;width:175px;height:200px;_background-color:#FFFFFF;_border:solid 1px #6b91ab;padding:0 3px 3px 3px}
.editor_smiliebox .blocksubhead{padding:0;font-size:11px;font-weight:normal;text-align:center;border:solid 1px #6b91ab;border-width:1px 0}
.editor_smiliebox ul.smiliebox{height:190px;overflow:hidden}
.editor_smiliebox ul.smiliebox li{float:left;height:30px;width:30px;margin:2px;overflow:hidden;position:relative;text-align:center}
.editor_smiliebox ul.smiliebox li div.table{display:table;height:100%;margin:auto;table-layout:fixed;width:30px}
.editor_smiliebox ul.smiliebox li div.tablecell{display:table-cell;vertical-align:middle}
.editor_smiliebox ul.smiliebox li img{height:auto;max-width:30px;width:auto !important;cursor:pointer}
.editor_smiliebox div.moresmilies{text-align:center;font-size:11px}
.editor_textbox_container{width:100%;float:left;margin:0}
.editor_textbox_container.smilie{margin-right:-265px}
.editor_textbox_smilie{margin-right:185px}
.cke_skin_kama_container{visibility:visible;background:#FFFFFF;// no stylevar}.cke_skin_kama_container body{min-width:0}
.attachment a{padding:1px 0;border:1px solid #ffffff;display:block}
.attachment a:hover{padding:1px 0;border-color:#316ac5;background-color:#dff1ff}
.editorpopupbody{padding:5px;min-width:200px;max-height:250px;overflow-y:auto;overflow-x:hidden}
.editorpopupbody li.attachment{white-space:nowrap}
.editorpopupbody div.attach_insert_all{cursor:pointer;background-color:#FFFFFF;padding:2px}
.cke_skin_kama .cke_panel.cke_attach{width:250px;height:auto}
.previewthumbactive{position:absolute;background:url('pencil.png') no-repeat top left;cursor:pointer;border:1px solid red;margin:0;z-index:10}
img.previewthumb.active{cursor:pointer;border:1px solid red;margin:0}
.cke_browser_ie8 .cke_editor{display:block !important}
.cke_button .cke_disabled:hover{background-color:transparent !important}
.cke_skin_kama span:not(.cke_browser_ie) .cke_button .cke_icon{background:url('sprite.png') no-repeat top left}
.cke_skin_kama .cke_browser_ie .cke_button .cke_icon{position:relative;overflow:hidden;width:16px;height:16px}
.cke_skin_kama .cke_browser_ie .cke_button .cke_icon_image{position:absolute;width:2498px;height:60px;background:url('sprite.png') no-repeat top left}.cke_skin_kama .cke_browser_ie .cke_button .cke_icon_image.custom{background:none}.cke_skin_kama .cke_browser_ie .cke_button a.cke_disabled .cke_icon{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')}.cke_skin_kama .cke_browser_ie .cke_rtl .cke_button a.cke_disabled .cke_icon{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')}.cke_skin_kama .cke_browser_ie .cke_button a.cke_on .cke_icon_image{top:0px}.cke_skin_kama .cke_browser_ie .cke_button a.cke_off .cke_icon_image{top:-20px}.cke_skin_kama .cke_browser_ie .cke_button a.cke_disabled .cke_icon_image{top:-40px;filter:}.cke_skin_kama .cke_browser_ie .cke_button .cke_button_textcolor .cke_buttonarrow{filter:}.cke_skin_kama .cke_browser_ie .cke_button .cke_buttonarrow{position:relative;top:-4px}.cke_skin_kama .cke_browser_ie .cke_rtl .cke_button a.cke_disabled .cke_icon_image{top:-40px;filter:}.cke_skin_kama span:not(.cke_browser_ie) .cke_button_openAttachmentWindow .cke_icon{background-position:0 0}.cke_skin_kama .cke_browser_ie .cke_button_openAttachmentWindow .cke_icon_image{left:0px}.cke_skin_kama span:not(.cke_browser_ie) .cke_button_enhancedsource .cke_icon{background-position:-1597px 0}.cke_skin_kama .cke_browser_ie .cke_button_enhancedsource .cke_icon_image{left:-1597px}.cke_skin_kama .cke_button_enhancedsource .cke_label{}.cke_skin_kama span:not(.cke_browser_ie) .cke_button_pastetext .cke_icon{background-position:-2480px 0}.cke_skin_kama .cke_browser_ie .cke_button_pastetext .cke_icon_image{left:-2480px}.cke_skin_kama span:not(.cke_browser_ie) .cke_button_pastefromword .cke_icon{background-position:-2430px 0}.cke_skin_kama .cke_browser_ie .cke_button_pastefromword .cke_icon_image{left:-2430px}.cke_skin_kama span:not(.cke_browser_ie) .cke_button_removeFormat .cke_icon{background-position:-1447px 0}.cke_skin_kama .cke_browser_ie .cke_button_removeFormat .cke_icon_image{left:-1447px}.cke_skin_kama span:not(.cke_browser_ie) .cke_button_bold .cke_icon{background-position:-50px 0}.cke_skin_kama .cke_browser_ie .cke_button_bold .cke_icon_image{left:-50px}.cke_skin_kama span:not(.cke_browser_ie) .cke_button_italic .cke_icon{background-position:-897px 0}.cke_skin_kama .cke_browser_ie .cke_button_italic .cke_icon_image{left:-897px}.cke_skin_kama span:not(.cke_browser_ie) .cke_button_underline .cke_icon{background-position:-2247px 0}.cke_skin_kama .cke_browser_ie .cke_button_underline .cke_icon_image{left:-2247px}.cke_skin_kama span:not(.cke_browser_ie) .cke_button_subscript .cke_icon{background-position:-2147px 0}.cke_skin_kama .cke_browser_ie .cke_button_subscript .cke_icon_image{left:-2147px}.cke_skin_kama span:not(.cke_browser_ie) .cke_button_superscript .cke_icon{background-position:-2197px 0}.cke_skin_kama .cke_browser_ie .cke_button_superscript .cke_icon_image{left:-2197px}.cke_skin_kama span:not(.cke_browser_ie) .cke_button_table .cke_icon{background-position:-2047px 0}.cke_skin_kama .cke_browser_ie .cke_button_table .cke_icon_image{left:-2047px}.cke_skin_kama span:not(.cke_browser_ie) .cke_button_vbTableProperties .cke_icon{background-position:-1797px 0}.cke_skin_kama .cke_browser_ie .cke_button_vbTableProperties .cke_icon_image{left:-1797px}.cke_skin_kama span:not(.cke_browser_ie) .cke_button_tableDelete .cke_icon{background-position:-1847px 0}.cke_skin_kama .cke_browser_ie .cke_button_tableDelete .cke_icon_image{left:-1847px}.cke_skin_kama span:not(.cke_browser_ie) .cke_button_vbRowInsertBefore .cke_icon{background-position:-1997px 0}.cke_skin_kama .cke_browser_ie .cke_button_vbRowInsertBefore .cke_icon_image{left:-1997px}.cke_skin_kama span:not(.cke_browser_ie) .cke_button_vbRowInsertAfter .cke_icon{background-position:-1947px 0}.cke_skin_kama .cke_browser_ie .cke_button_vbRowInsertAfter .cke_icon_image{left:-1947px}.cke_skin_kama span:not(.cke_browser_ie) .cke_button_vbRowDelete .cke_icon{background-position:-1897px 0}.cke_skin_kama .cke_browser_ie .cke_button_vbRowDelete .cke_icon_image{left:-1897px}.cke_skin_kama span:not(.cke_browser_ie) .cke_button_vbColumnInsertBefore .cke_icon{background-position:-1747px 0}.cke_skin_kama .cke_browser_ie .cke_button_vbColumnInsertBefore .cke_icon_image{left:-1747px}.cke_skin_kama span:not(.cke_browser_ie) .cke_button_vbColumnInsertAfter .cke_icon{background-position:-1697px 0}.cke_skin_kama .cke_browser_ie .cke_button_vbColumnInsertAfter .cke_icon_image{left:-1697px}.cke_skin_kama span:not(.cke_browser_ie) .cke_button_vbColumnDelete .cke_icon{background-position:-1647px 0}.cke_skin_kama .cke_browser_ie .cke_button_vbColumnDelete .cke_icon_image{left:-1647px}.cke_skin_kama span:not(.cke_browser_ie) .cke_button_horizontalrule .cke_icon{background-position:-2097px 0}.cke_skin_kama .cke_browser_ie .cke_button_horizontalrule .cke_icon_image{left:-2097px}.cke_skin_kama span:not(.cke_browser_ie) .cke_button_smiley .cke_icon{background-position:-1497px 0}.cke_skin_kama .cke_browser_ie .cke_button_smiley .cke_icon_image{left:-1497px}.cke_skin_kama span:not(.cke_browser_ie) .cke_button_iespell .cke_icon{background-position:-1547px 0}.cke_skin_kama .cke_browser_ie .cke_button_iespell .cke_icon_image{left:-1547px}.cke_skin_kama span:not(.cke_browser_ie) .cke_button_link .cke_icon{background-position:-300px 0}.cke_skin_kama .cke_browser_ie .cke_button_link .cke_icon_image{left:-300px}.cke_skin_kama span:not(.cke_browser_ie) .cke_button_Email .cke_icon{background-position:-401px 0}.cke_skin_kama .cke_browser_ie .cke_button_Email .cke_icon_image{left:-401px}.cke_skin_kama span:not(.cke_browser_ie) .cke_button_unlink .cke_icon{background-position:-2346px 0}.cke_skin_kama .cke_browser_ie .cke_button_unlink .cke_icon_image{left:-2346px}.cke_skin_kama span:not(.cke_browser_ie) .cke_button_image .cke_icon,.cke_skin_kama span:not(.cke_browser_ie) .cke_button_vbimage .cke_icon{background-position:-747px 0}.cke_skin_kama .cke_browser_ie .cke_button_image .cke_icon_image,.cke_skin_kama .cke_browser_ie .cke_button_vbimage .cke_icon_image{left:-747px}.cke_skin_kama span:not(.cke_browser_ie) .cke_button_videotag .cke_icon{background-position:-2397px 0}.cke_skin_kama .cke_browser_ie .cke_button_videotag .cke_icon_image{left:-2397px}.cke_skin_kama span:not(.cke_browser_ie) .cke_button_Quote .cke_icon{background-position:-1347px 0}.cke_skin_kama .cke_browser_ie .cke_button_Quote .cke_icon_image{left:-1347px}.cke_skin_kama span:not(.cke_browser_ie) .cke_button_Code .cke_icon{background-position:-151px 0}.cke_skin_kama .cke_browser_ie .cke_button_Code .cke_icon_image{left:-151px}.cke_skin_kama span:not(.cke_browser_ie) .cke_button_Html .cke_icon{background-position:-451px 0}.cke_skin_kama .cke_browser_ie .cke_button_Html .cke_icon_image{left:-451px}.cke_skin_kama span:not(.cke_browser_ie) .cke_button_Php .cke_icon{background-position:-1297px 0}.cke_skin_kama .cke_browser_ie .cke_button_Php .cke_icon_image{left:-1297px}.cke_skin_kama span:not(.cke_browser_ie) .cke_button_PageBreak .cke_icon{background-position:-1147px 0}.cke_skin_kama .cke_browser_ie .cke_button_PageBreak .cke_icon_image{left:-1147px}.cke_skin_kama span:not(.cke_browser_ie) .cke_button_PreviewBreak .cke_icon{background-position:-100px 0}.cke_skin_kama .cke_browser_ie .cke_button_PreviewBreak .cke_icon_image{left:-100px}.cke_skin_kama span:not(.cke_browser_ie) .cke_button_textcolor .cke_icon{background-position:-201px 0}.cke_skin_kama .cke_browser_ie .cke_button_textcolor .cke_icon_image{left:-201px}.cke_skin_kama span:not(.cke_browser_ie) .cke_button_undo .cke_icon{background-position:-2297px 0}.cke_skin_kama .cke_browser_ie .cke_button_undo .cke_icon_image{left:-2297px}.cke_skin_kama .cke_rtl span:not(.cke_browser_ie) .cke_button_undo .cke_icon{background-position:-1397px 0}.cke_skin_kama .cke_rtl .cke_browser_ie .cke_button_undo .cke_icon_image{left:-1397px}.cke_skin_kama span:not(.cke_browser_ie) .cke_button_redo .cke_icon{background-position:-1397px 0}.cke_skin_kama .cke_browser_ie .cke_button_redo .cke_icon_image{left:-1397px}.cke_skin_kama .cke_rtl span:not(.cke_browser_ie) .cke_button_redo .cke_icon{background-position:-2297px 0}.cke_skin_kama .cke_rtl .cke_browser_ie .cke_button_redo .cke_icon_image{left:-2297px}.cke_skin_kama .cke_rtl .cke_rcombo{float:right}.cke_skin_kama .cke_browser_ie6 .cke_rtl .cke_rcombo,.cke_skin_kama .cke_browser_ie7 .cke_rtl .cke_rcombo{float:none}.cke_skin_kama span:not(.cke_browser_ie) .cke_button_numberedlist .cke_icon{background-position:-797px 0}.cke_skin_kama .cke_browser_ie .cke_button_numberedlist .cke_icon_image{left:-797px}.cke_skin_kama span:not(.cke_browser_ie) .cke_button_bulletedlist .cke_icon{background-position:-847px 0}.cke_skin_kama .cke_browser_ie .cke_button_bulletedlist .cke_icon_image{left:-847px}.cke_skin_kama span:not(.cke_browser_ie) .cke_button_outdent .cke_icon{background-position:-1097px 0}.cke_skin_kama .cke_browser_ie .cke_button_outdent .cke_icon_image{left:-1097px}.cke_skin_kama span:not(.cke_browser_ie) .cke_button_indent .cke_icon{background-position:-697px 0}.cke_skin_kama .cke_browser_ie .cke_button_indent .cke_icon_image{left:-697px}.cke_skin_kama span:not(.cke_browser_ie) .cke_button_justifyleft .cke_icon{background-position:-997px 0}.cke_skin_kama .cke_browser_ie .cke_button_justifyleft .cke_icon_image{left:-997px}.cke_skin_kama span:not(.cke_browser_ie) .cke_button_justifycenter .cke_icon{background-position:-947px 0}.cke_skin_kama .cke_browser_ie .cke_button_justifycenter .cke_icon_image{left:-947px}.cke_skin_kama span:not(.cke_browser_ie) .cke_button_justifyright .cke_icon{background-position:-1047px 0}.cke_skin_kama .cke_browser_ie .cke_button_justifyright .cke_icon_image{left:-1047px}.cke_skin_kama .cke_rtl span:not(.cke_browser_ie) .cke_button_undo .cke_icon{background-position:-1397px 0}.cke_skin_kama .cke_browser_ie .cke_rtl .cke_button_undo .cke_icon_image{left:-1397px}.cke_skin_kama .cke_rtl span:not(.cke_browser_ie) .cke_button_redo .cke_icon{background-position:-2297px 0}.cke_skin_kama .cke_browser_ie .cke_rtl .cke_button_redo .cke_icon_image{left:-2297px}.cke_skin_kama .cke_rtl span:not(.cke_browser_ie) .cke_button_outdent .cke_icon{background-position:-697px 0}.cke_skin_kama .cke_browser_ie .cke_rtl .cke_button_outdent .cke_icon_image{left:-697px}.cke_skin_kama .cke_rtl span:not(.cke_browser_ie) .cke_button_indent .cke_icon{background-position:-1097px 0}.cke_skin_kama .cke_browser_ie .cke_rtl .cke_button_indent .cke_icon_image{left:-1097px}.cke_skin_kama .cke_rtl span:not(.cke_browser_ie) .cke_button_columnInsertBefore .cke_icon{background-position:-1697px 0}.cke_skin_kama .cke_browser_ie .cke_rtl .cke_button_columnInsertBefore .cke_icon_image{left:-1697px}.cke_skin_kama .cke_rtl span:not(.cke_browser_ie) .cke_button_columnInsertAfter .cke_icon{background-position:-1747px 0}.cke_skin_kama .cke_browser_ie .cke_rtl .cke_button_columnInsertAfter .cke_icon_image{left:-1747px}.cke_skin_kama .cke_dialog .cke_dialog_ui_labeled_label{float:none}.cke_skin_kama .cke_dialog input[type="file"]{border:1px inset}.cke_skin_kama div.cke_bottom_restore_autosave{position:relative}.cke_skin_kama div.cke_bottom_restore_autosave .cke_toolgroup{height:18px;position:absolute;top:4px;padding:0 3px 0 0}.cke_skin_kama div.cke_bottom_restore_autosave a.restoretext{cursor:pointer;height:12px;background-image:none}.cke_skin_kama div.as_ind_container{position:relative}.cke_skin_kama div.as_ind_container div{background-color:rgb(255,255,0);right:0;position:absolute;padding:2px;top:-12px;font-weight:bold}.cke_skin_kama .cke_toolbox{margin-bottom:5px}.cke_skin_kama .cke_dialog .cke_dialog_ui_textarea.cke_pastetext{width:auto;height:auto}.cke_dialog_tab:focus{outline:none}.cke_skin_kama .cke_fontSize span.cke_text{max-width:60px;min-width:25px;width:auto;_width:25px}.cke_skin_kama .cke_editor .cke_rcombo a,.cke_skin_kama .cke_editor .cke_toolgroup{background:url(sprites.png) repeat-x 0px -500px}.cke_skin_kama .cke_editor .cke_rcombo a:hover,.cke_skin_kama .cke_editor .cke_rcombo a:focus,.cke_skin_kama .cke_editor .cke_rcombo a:active,.cke_skin_kama .cke_editor .cke_button a:hover,.cke_skin_kama .cke_editor .cke_button a:focus,.cke_skin_kama .cke_editor .cke_button a:active{background-color:#DFF1FF}.cke_skin_kama .cke_editor .cke_button a.cke_on{background-color:#A3D7FF}.cke_skin_kama .cke_editor .cke_button a.cke_on:hover,.cke_skin_kama .cke_editor .cke_button a.cke_on:focus,.cke_skin_kama .cke_editor .cke_button a.cke_on:active{background-color:#86CAFF}.cke_skin_kama .cke_editor .cke_button a.cke_disabled *{opacity:.3}.cke_skin_kama .cke_editor .cke_button a,.cke_skin_kama .cke_editor .cke_button a.cke_off{opacity:.7}.cke_skin_kama .cke_wrapper.cke_ltr,.cke_skin_kama .cke_wrapper.cke_rtl{background:#D3D3D3 url(sprites.png) repeat-x 0px -1950px}.cke_skin_kama .cke_dialog_body .cke_dialog_contents{background:#FFFFFF none }.cke_skin_kama .cke_dialog_contents .cke_dialog_contents{background-color:#E4E4E4;border-top:#FFFFFF 1px solid;border-right:#FFFFFF 1px solid;border-left:#FFFFFF 1px solid}.cke_skin_kama .cke_dialog_title{color:#000000}.cke_skin_kama .cke_dialog_body .cke_dialog_tabs a.cke_dialog_tab{background-color:#FFFFFF;color:#000000}.cke_skin_kama .cke_dialog_body .cke_dialog_tabs a.cke_dialog_tab_selected{background-color:#E4E4E4;color:#000000}.cke_skin_kama .cke_dialog_body .cke_dialog_tabs a.cke_dialog_tab:hover{background-color:#E1E1E1;color:#000000}.cke_skin_kama .cke_dialog_contents .cke_dialog_footer{background-color:#E4E4E4;border-top:#FFFFFF 1px solid;border-right:#FFFFFF 1px solid;border-left:#FFFFFF 1px solid}.cke_skin_kama .cke_dialog .cke_dialog_body{background:#FFFFFF none }.cke_skin_kama .cke_dialog_body .cke_dialog_title{border-bottom:#E4E4E4 1px solid}.cke_skin_kama .cke_dialog_contents *,.cke_skin_kama .cke_dialog_contents a:hover,.cke_skin_kama .cke_dialog_contents a:link,.cke_skin_kama .cke_dialog_contents a:visited,.cke_skin_kama .cke_dialog_contents a:active{color:#000000}.cke_skin_kama .cke_dialog .cke_dialog_body a.cke_dialog_close_button{background-image:none;top:10px}.cke_skin_kama .cke_dialog_body .cke_dialog_close_button span{display:inline;font-weight:bold;font-size:10px;padding:0 2px 0 2px;border:1px solid #000000;color:#000000;cursor:pointer;display:inline-block;vertical-align:bottom}.cke_skin_kama .cke_dialog_body .cke_dialog_close_button span:hover{background-color:#E4E4E4;color:#FFFFFF}.cke_skin_kama .cke_dialog .cke_dialog_body .cke_dark_background{background-color:#E4E4E4}.cke_skin_kama .cke_dialog_body a.cke_smile img,.cke_skin_kama .cke_dialog_body a.cke_smile:focus img,.cke_skin_kama .cke_dialog_body a.cke_smile:active img,.cke_skin_kama .cke_dialog_body a.cke_smile:hover img{border:0;padding:2px}.cke_skin_kama .cke_dialog .cke_dialog_body .cke_dialog_ui_input_text,.cke_skin_kama .cke_dialog .cke_dialog_body .cke_dialog_ui_input_select,.cke_skin_kama .cke_dialog .cke_dialog_body .cke_dialog_ui_input_textarea{color:#000000}.cke_skin_kama .cke_dialog div.cke_disabled .cke_dialog_ui_labeled_content *{background-color:#CCCCCC}.cke_skin_kama .cke_dialog .smiley_page{overflow:auto}.cke_skin_kama .cke_dialog .smiley_category{padding:5px}.popupmenu{*z-index:999;position:relative}.popupmenu a.popupctrl{background-image:url(black_downward_arrow.png);background-position:right center;background-repeat:no-repeat;padding-right:15px;_padding-right:25px}.popupmenu a.popupctrl.nogadget{padding-right:0;background-image:none}.popupgroup .popupmenu a.popupctrl{font-size:11px;padding:2px 4px;border:0;background-color:transparent;text-decoration:none;padding-right:15px;margin-left:5px}.popupgroup .popupmenu:hover a.popupctrl{border:0;background-color:transparent}.popupgroup .popupmenu{float:left}.blockfoot .popupctrl{text-decoration:none;padding:2px 6px;padding-right:15px;-moz-border-radius:0px;-webkit-border-radius:0px;border-radius:0px}
.blockhead .popupctrl{color:#ffffff}
.blockhead .popupctrl:hover{color:#ffffff}
.popupbody{font:normal 11px Tahoma,Calibri,Verdana,Geneva,sans-serif;color:#3E3E3E;padding:2px;background:#E1E1E1 none ;border:1px solid #E1E1E1;position:absolute;z-index:1000;top:1.5em;left:0;display:none;min-width:200px}.popupmenu:hover ul.popuphover{display:block}.popupbody li{border-top:solid 1px #E1E1E1}.popupbody > li:first-child{border-top:none}.popupbody li a,.popupbody li label{display:block;color:#3E3E3E;background:#FFFFFF none ;padding:6.235px 10px;text-decoration:none;text-align:left;white-space:nowrap}.popupbody li > a:hover,.popupbody li > label:hover{color:#3E3E3E;background:#FFEB90 none }.memberaction_body.popupbody li a:hover{color:#3E3E3E;background-color:#FFEB90}.popupbody li.vbmenu_hilite a{color:#3E3E3E;background:#FFEB90 none }.popupbody li.vbmenu_option > a:hover{color:#3E3E3E;background:#FFEB90 none }.popupbody li.vbmenu_hilite,li.vbmenu_option{float:none;display:list-item;width:100%}.popupbody li input.searchbox{width:180px;padding:0px;font-size:13px;font-style:italic;color:#777777}.popupbody li input.searchbox:focus{font-style:normal;color:#3e3e3e}.popupbody li.formsubmit{text-align:right;padding:0px;background:#E1E1E1 none }.popupbody li.formsubmit .submitoptions{float:left;text-align:left}.popupbody li.formsubmit .submitoptions label{display:block}.popupbody li.formsubmit.jumptopage > label{display:inline;background:none}.popupbody li.formsubmit input[type="submit"],.popupbody li.formsubmit input[type="reset"],.popupbody li.formsubmit input[type="button"]{font:12px Tahoma,Calibri,Verdana,Geneva,sans-serif;padding:2px;padding-bottom:1px}.popupbody li.formsubmit input[type="submit"]:hover,.popupbody li.formsubmit input[type="reset"]:hover,.popupbody li.formsubmit input[type="button"]:hover{color:#417394}
.blockhead .popupmenu,.blocksubhead .popupmenu{display:block;float:right;clear:left;text-transform:none}
.memberaction.popupmenu{position:relative;top:0;display:inline-block}
.postdetails .memberaction.popupmenu{position:static}
.memberaction.popupmenu a.popupctrl{background:none;padding:0}
.memberaction_body.popupbody{width:280px;background:#FFFFFF;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;-moz-box-shadow:0px 4px 7px #c8c8c8;-webkit-box-shadow:0px 4px 7px #c8c8c8;box-shadow:0px 4px 7px #c8c8c8}
.memberaction_body.popupbody li{border:none;width:140px}.memberaction_body.popupbody li.left{float:left;clear:left}.memberaction_body.popupbody li.right{float:right;clear:right}.memberaction_body.popupbody li .siteicon_profile{background:url(profile.png) left 2px no-repeat}.memberaction_body.popupbody li .siteicon_forum{background:url(forum.png) left 2px no-repeat}.memberaction_body.popupbody li .siteicon_message{background:url(message.png) left 2px no-repeat}.memberaction_body.popupbody li .siteicon_blog{background:url(blog.png) left 2px no-repeat}.memberaction_body.popupbody li .siteicon_homepage{background:url(homepage.png) left 2px no-repeat}.memberaction_body.popupbody li .siteicon_article{background:url(article.png) left 2px no-repeat}.memberaction_body.popupbody li .siteicon_add{background:url(add.png) left 2px no-repeat}.memberaction_body.popupbody li .siteicon_email{background:url(email.png) left 2px no-repeat}.memberaction_body.popupbody li > a{padding:4px;padding-left:20px}.memberaction_body.popupbody hr{float:left;height:96px;width:0;display:inline}.popupbody li.formsubmit .submitoptions label,.popupbody li.formsubmit .advancedsearchlink a{background:transparent;color:#3E3E3E}html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit}del,ins{text-decoration:none}li{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:baseline}sub{vertical-align:baseline}legend{color:#000}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit}input,button,textarea,select{*font-size:100%}body{font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small}select,input,button,textarea,button{font:99% arial,helvetica,clean,sans-serif}table{font-size:inherit;font:100%}pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%}html{background:#005479 url(fondo.png) repeat-x }em{}strong{}body{width:99%;min-width:650px;max-width:auto;margin:auto;font-size:13px;color:#3e3e3e;line-height:1.230}a:active,a:focus{outline:0}body a{color:#104577;text-decoration:none}body a:hover,body a:hover .time,body a:hover .shade,body a:hover .understate{color:#00A1DE;text-decoration:underline}body a.understate,body a .understate{color:inherit;text-decoration:none;*clear:expression(style.color = parentNode.currentStyle.color,style.clear = "none",0)}.body_wrapper{padding:10px 20px 10px 20px;background:rgb(255,255,255) none ;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}input,textarea,button,select{font-family:Tahoma,Calibri,Verdana,Geneva,sans-serif}.button{padding:2.5px 5px;font:bold 11px Tahoma,Calibri,Verdana,Geneva,sans-serif;border:;color:#424242;background:#e9e9e9 url(generic_button.png) repeat-x top left;-moz-border-radius:0px;-webkit-border-radius:0px;webkit-border-radius:0px}.button:hover{background:#efefef url(generic_button.png) repeat-x ;color:#424242}body,legend{font-family:Verdana,Geneva,sans-serif,Tahoma,Calibri}.shade{color:#777777}.time{color:#3e3e3e}.nocss_label{display:none}.normal{font-size:13px;font-weight:normal}.block{clear:both;padding:;color:;font:}.blockhead{margin-bottom:2px; font:normal 12px Tahoma,Calibri,Verdana,Geneva,sans-serif;color:#ffffff;background:#00547A url(newbtn_middle.png) repeat-x ;_background-image:none;padding:4px 10px 4px 10px;border:1px solid #5a7f97;-moz-border-radius-topright:5px;-moz-border-radius-topleft:5px;-webkit-border-top-right-radius:5px;-webkit-border-top-left-radius:5px;border-top-right-radius:5px;border-top-left-radius:5px}.blockhead h2{font-weight:bold}.blockhead a{color:#ffffff}.blockhead a:hover{color:#ffffff}.blockhead img{margin-bottom:-4px}.blocksubhead{font:normal 12px ;color:#3e3e3e;background:#e9e9e9 none repeat-x ;padding:4px 10px 4px 10px;border-top:1px solid #cecece}.blocksubhead img{vertical-align:middle}.blocksubhead a{color:#3e3e3e;text-decoration:none}.blocksubhead a:hover{color:#417394}.blockhead_info,.blocksubhead_info{float:right;font-weight:normal}.blockbody{background:rgb(255,255,255) none no-repeat ;padding-left:0px;padding-right:0px}.blockrow{background:#F6F6F6 none ;padding:5px 10px 5px 10px;border:;color:;font:}.blockrow a{color:}.blockrow a:hover{color:}.blockfoot,.blocksubfoot{display:block;clear:both;background:#F0F0F0 none ;padding:5px 0px 5px 0px;border:0 rgb(102,204,0);color:;font:}.blockfoot a{color:}.blockfoot a:hover{color:}.blockfoot,.blocksubfoot{padding:5px 0px 5px 0px}.blocksubfoot{text-align:right}.wysiwyg_block{margin-bottom:10px}.wysiwyg_block .blockrow:first-child{background:transparent url(black_downward_arrow.png) repeat-x top left}.wysiwyg_block iframe.textbox{border:1px solid #6b91ab;background:;padding-bottom:0}.wysiwyg_block .formcontrols .blockrow{border-top:0}.table{display:table;table-layout:fixed}.thead{width:100%;padding:0;display:table-row}.tr{display:table-row}.td{display:table-cell}.pagination span{display:block;float:left;clear:right}.pagination span a{font:normal 14px Verdana,Tahoma,Calibri,Geneva,sans-serif;border:1px solid #cedfeb;height:17.22px;padding:2px 4px;margin-left:1px;background:rgb(255,255,255) none ;text-decoration:none;color:#417394}.pagination span a:hover{border:1px solid #417394}.pagination span.prev_next a,.pagination span.first_last a{position:relative;top:-2px}.pagination span.prev_next a img,.pagination span.first_last a img{position:relative;display:inline;top:3px}.pagination dt.label{display:none}.pagination span.selected a{background:#00547A none repeat-x ;color:#ffffff;border:1px solid #417394;height:17.22px;font-weight:bold;padding:2px 4px;margin-left:1px}.pagination .separator,.pagination .elipsis{background:none;border:0}.pagination .separator:hover{border:0}.pagination li.jumptopage{text-align:center}.pagination span a.popupctrl{height:17.22px;background:rgb(255,255,255) url(black_downward_arrow.png) no-repeat center left;padding-right:4px;padding-left:18px}.pagination .popupmenu:hover a.popupctrl{border:1px solid #417394;color:#3e3e3e}.textcontrols a,a.textcontrol{position:relative;padding:3px 5px;font:bold 11px Tahoma,Calibri,Verdana,Geneva,sans-serif;line-height:1.230;text-decoration:none;border:1px solid #a8a8a8;color:#424242;background:#e9e9e9 url(generic_button.png) repeat-x top left;-moz-border-radius:0px;-webkit-border-radius:0px;border-radius:0px}.textcontrols a img,a.textcontrol img{position:absolute;bottom:2px;left:-2px}.textcontrols a:hover img,a:hover.textcontrol img{position:absolute;bottom:2px;left:-2px}.textcontrols a:hover,a:hover.textcontrol{background:#efefef url(generic_button.png) repeat-x ;text-decoration:none;color:#417394}.textcontrols a:hover,a:hover.textcontrol{text-decoration:none}.blockhead a.textcontrol{float:right;font:bold 11px Tahoma,Calibri,Verdana,Geneva,sans-serif;margin-top:-4.5px;text-transform:none}.blockhead a.textcontrol:hover{color:#417394}.navpopupmenu{text-align:right;float:right;display:block;padding:0;padding-top:3.5px;clear:left;margin-left:10px;font-size:12px;margin-top:0}* html .navpopupmenu.popupmenu.nohovermenu a.textcontrol,.navpopupmenu a.textcontrol,.navpopupmenu a.popupctrl,.navpopupmenu.popupmenu.nohovermenu a.textcontrol,.navpopupmenu.popupmenu.nohovermenu a.popupctrl{text-decoration:none;color:#424242;border:1px solid #a8a8a8;background:#e9e9e9 url(generic_button.png) repeat-x top left;_background-image:none;font:bold 11px Tahoma,Calibri,Verdana,Geneva,sans-serif;padding:3.33333333333px 6.66666666667px;-moz-border-radius:0px;-webkit-border-radius:0px;border-radius:0px}.navpopupmenu a.textcontrol:hover,.navpopupmenu a.popupctrl:hover,.navpopupmenu.popupmenu.nohovermenu a.textcontrol:hover,.navpopupmenu.popupmenu.nohovermenu a.popupctrl:hover{background:#efefef url(generic_button.png) repeat-x ;color:#417394;_background-image:none}.navpopupmenu .popupctrl .ctrlcontainer{background:transparent url(black_downward_arrow.png) no-repeat center left;padding-left:15px;white-space:nowrap}.navpopupbody{width:auto;max-height:350px;text-align:left;*overflow:auto;overflow-y:scroll;left:auto;right:0}.navpopupbody li{overflow:hidden;min-width:200px}.navpopupbody li.optionlabel{text-align:center;font-weight:bold}.navpopupbody .d1 a,option.d1{text-indent:20px}.navpopupbody .d2 a,option.d2{text-indent:40px}.navpopupbody .d3 a,option.d3{text-indent:60px}.navpopupbody .d4 a,option.d4{text-indent:80px}.navpopupbody .d5 a,option.d5{text-indent:100px}.navpopupbody .d6 a,option.d6{text-indent:120px}.navpopupbody .d7 a,option.d7{text-indent:140px}.navpopupbody .d8 a,option.d8{text-indent:160px}.navpopupbody .d9 a,option.d9{text-indent:180px}.navpopupbody .d10 a,option.d10{text-indent:200px}.navpopupbody .d11 a,option.d11{text-indent:220px}.navpopupbody .d12 a,option.d12{text-indent:240px}.navpopupbody .d13 a,option.d13{text-indent:260px}.navpopupbody .d14 a,option.d14{text-indent:280px}.navpopupbody .d15 a,option.d15{text-indent:300px}.navpopupbody .d16 a,option.d16{text-indent:320px}.navpopupbody .d17 a,option.d17{text-indent:340px}.navpopupbody .d18 a,option.d18{text-indent:360px}.navpopupbody .d19 a,option.d19{text-indent:380px}.navpopupbody .d20 a,option.d20{text-indent:400px}dl.stats.totals{float:right;padding:5px}dl.stats dt{display:inline;color:#777777}dl.stats dt:after{content:":"}dl.stats dd{display:inline}dl.statsblock dt{display:block;float:left;clear:left;width:25%}dl.statsblock dd{display:block;float:left;margin-left:10px}dl.tabslight{border-bottom:solid 1px #6b91ab;padding-left:20px;margin-bottom:1em;height:26px;margin-top:15px}dl.tabslight dt{display:none}dl.tabslight dd{float:left}dl.tabslight dd a{font-size:11px;font-weight:bold;color:#3e3e3e;text-decoration:none;text-align:center;padding:0 10px;min-width:55;height:25;line-height:25px;display:block;border:1px solid #6b91ab;background-color:#e9e9e9;margin-left:-1;margin-bottom:-1;-moz-border-radius-topleft:5px;-moz-border-radius-topright:11px;-webkit-border-top-left-radius:3px;-webkit-border-top-right-radius:11px;border-top-left-radius:3px;border-top-right-radius:11px}html>body dl.tabslight dd.selected a,html>body dl.tabslight dd.selected a:hover{position:relative;border-bottom:1px solid transparent;background:#f1f3f8 none }* dl.tabslight dd.selected a,* dl.tabslight dd.selected a:hover{border-bottom:1px solid transparent;background:#f1f3f8 none }dl.tabslight dd a:hover{color:#00A1DE;background:#7192a8 url(selected-tab-gradient-with-top-alpha.png) repeat-x 0 -px}.columnsort a,.columnsort span{display:block;text-decoration:none;white-space:nowrap;text-align:left}.columnsort a:hover{background-color:#FFEB90;text-decoration:none;color:inherit}tr.columnsort th{white-space:nowrap}div.collapse{position:relative}a.collapse{float:right;right:10px;top:20px;position:absolute}.blockhead a.collapse{top:10px}#forumrules{margin-bottom:10px;border-bottom:1px solid #c4c4c4;border-left:1px solid #c4c4c4;border-right:1px solid #c4c4c4;border-top:1px solid rgb(255,255,255);background:rgb(255,255,255) url(gradient-greytowhite.png) repeat-x }#forumrules ul.youcandoblock{float:left;width:55%;margin-bottom:10px;overflow:hidden}#forumrules ul.bbcodeblock{float:right;width:42%;text-align:right;overflow:hidden}#forumrules .rules_link{margin-top:10px;width:42%;padding-left:55%}.errorblock ul.blockrow.error > li{border-bottom:solid 1px #cedfeb;padding-bottom:10px;margin-bottom:10px}.errorblock ul.blockrow.error li:last-child{border-bottom:none;padding-bottom:0;margin-bottom:0}blockquote.preview{font:13px Tahoma,Calibri,Verdana,Geneva,sans-serif}blockquote.preview.forumcontent{font:}blockquote.preview .bbcode_container div.bbcode_code,blockquote.preview .bbcode_container pre.bbcode_code{margin:0;padding:6px;border:1px inset;text-align:left;overflow:auto;direction:ltr;background:repeat-x;font-size:12px}blockquote.preview .bbcode_container code.bbcode_code{margin:0;text-align:left;direction:ltr;font-size:12px}blockquote.preview .bbcode_container code.bbcode_code code{white-space:nowrap}blockquote.preview fieldset.postattachlist{background:#FFFFFF bottom repeat-x;border-top:solid 1px #cedfeb;padding-bottom:1em}blockquote.preview .bbcode_container div.bbcode_quote{margin:0 10px;margin-bottom:10px;-moz-border-radius:5px;-webkit-border-radius:5px;background:#eaeaea none ;border-radius:5px;border:1px solid #417394;font:normal normal 13px verdana,Tahoma,Calibri,Verdana,Geneva,sans-serif;position:relative;top:0}blockquote.preview .bbcode_container .bbcode_quote_container{background:transparent url(quote-left.png) no-repeat left;display:block;width:9px;height:13px;position:absolute;top:5;left:-9px}blockquote.preview .bbcode_quote div.quote_container{border-top:1px solid #fafafa;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;padding:5px 10px 5px 10px}.attachments{border:;background:;margin:20px 30px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;padding:;font-size:}.attachments fieldset{margin:5px 0}.attachments img.inlineimg{position:relative;top:2px}blockquote.preview .signature{margin-top:1.5em;border-top:solid 1px ;padding-top:0.5em}.commalist li{display:inline}.commalist li:after{content:","}.commalist li:last-child:after{content:""}ul.username li a,ol.username li a,a.username{}.commalist li a.username{display:inline}.standard_error{max-width:600px;margin:0 auto;padding:4em 0 6em}.hidden{display:none}.floatcontainer:after,.formcontrols .blockrow:after,dl.stats:after{content:".";display:block;height:0;clear:both;visibility:hidden}.floatcontainer,.formcontrols .blockrow,dl.stats{display:inline-block;font-weight:normal}* html .floatcontainer,.formcontrols .blockrow,dl.stats{height:1%}.floatcontainer,.formcontrols .blockrow,dl.stats{display:block}.floatcontainer.hidden{display:none}#inlinemod_formctrls{float:right}#inlinemod_formctrls .popupctrl{text-decoration:none;background:#e9e9e9 url(generic_button.png) repeat-x top left;padding-right:0;color:#424242;border:1px solid #a8a8a8;font:bold 11px Tahoma,Calibri,Verdana,Geneva,sans-serif;float:left;-moz-border-radius:0px;-webkit-border-radius:0px;border-radius:0px}#inlinemod_formctrls a.popupctrl:hover{background:#efefef url(generic_button.png) repeat-x ;color:#417394}#inlinemod_formctrls a.popupctrl span.ctrlcontainer{display:inline-block;background:transparent url(black_downward_arrow.png) no-repeat center left;padding-top:3.33333333333px;padding-right:5px;padding-bottom:3.33333333333px;padding-left:15px;font-size:11px;float:left}#inlinemod_formctrls .popupbody{left:auto;right:0px}div.forum_disabled{text-align:center;color:red;background-color:white;padding:10px;font-size:20px}.restore body{margin:10px}.restore h1{font-size:138.5%}.restore h2{font-size:123.1%}.restore h3{font-size:108%}.restore h1,.restore h2,.restore h3{margin:1em 0}.restore h1,.restore h2,.restore h3,.restore h4,.restore h5,.restore h6,.restore strong,.restore dt{font-weight:bold}.restore optgroup{font-weight:normal}.restore abbr,.restore acronym{border-bottom:1px dotted #000;cursor:help}.restore em{font-style:italic}.restore del{text-decoration:line-through}.restore blockquote,.restore ul,.restore ol,.restore dl{margin:1em}.restore ol,.restore ul,.restore dl{margin-left:2em}.restore ol > li,.restore ol.decimal > li{list-style:decimal outside}.restore ol.upper-roman > li{list-style:upper-roman outside}.restore ol.lower-roman > li{list-style:lower-roman outside}.restore ol.upper-alpha > li{list-style:upper-alpha outside}.restore ol.lower-alpha > li{list-style:lower-alpha outside}.restore ul > li{list-style:disc outside}.restore dl dd{margin-left:1em}.restore th,.restore td{border:1px solid #000000;padding:0.5em}.restore th{font-weight:bold;text-align:center}.restore caption{margin-bottom:.5em;text-align:center}.restore sup{vertical-align:super}.restore sub{vertical-align:sub}.restore p,.restore fieldset,.restore table,.restore pre{margin-bottom:1em}.restore button,.restore input[type="checkbox"],.restore input[type="radio"],.restore input[type="reset"],.restore input[type="submit"]{padding:1px}.restore li > p{margin-bottom:0em}.unread{font-weight:bold}li.tag{display:inline;margin-right:5pxpx}li.tag label.mine{font-weight:bold}li.tag a{text-decoration:none}li.taglevel1{font-size:xx-small}li.taglevel2{font-size:small}li.taglevel3{font-size:medium}li.taglevel4,li.taglevel5{font-size:large}li.taglevel5{font-weight:bold}li.tag.option{padding:10px}#thread_tags_list input#tag_add_input{display:block;width:90%;margin-top:2px;margin-bottom:0.5em}#thread_tags_list .description{color:#777777}#thread_tags_list .actionbuttons{text-align:right;margin-bottom:1em}#tag_edit_list{list-style:none;margin:0;padding:0}#tag_edit_list li{float:left;display:block;width:100px}#tag_edit_list li.mine{font-weight:bold}#social_bookmarks_list li{display:block;float:left;padding-left:10px}#imagereg{vertical-align:middle;margin-bottom:5px}#wol_navpopup.navpopupmenu{margin-bottom:6px}.navlinks{background:#f5f5f5 none ;border-top:1px solid #e7e7e7;padding:10px 0;text-align:center;color:#5d5d5d;font-size:;margin-top:20px;margin-bottom:20px;width:100%;clear:both}.clear,.cleardiv{clear:both}#ajax_post_errors{position:absolute;width:420px;z-index:500;padding:2px;background-color:#FFFFFF;-moz-border-radius-topright:5px;-moz-border-radius-topleft:5px;-webkit-border-top-right-radius:5px;-webkit-border-top-left-radius:5px;border-top-right-radius:5px;border-top-left-radius:5px}#ajax_post_errors .blockrow{border-bottom:1px solid #c4c4c4;border-left:1px solid #c4c4c4;border-right:1px solid #c4c4c4}#ajax_post_errors .blockfoot{text-align:center}#ajax_post_errors_message ol{margin:1em;margin-left:2em}#ajax_post_errors_message ol.numeric li,#ajax_post_errors_message ol li{list-style-image:none;list-style-position:outside;list-style-type:decimal}.highlight{background:#FFEB90 none repeat-x }label#fb_pulishlabel{font-size:12px;font-weight:normal;margin-right:10px;vertical-align:middle}#fb_likeframe{border:none;overflow:hidden;height:27px;width:260px;vertical-align:text-bottom}#pagetitle #fb_likeframe{float:right}.blogbit #fb_likeframe{margin-top:7px}#recaptcha_area{direction:ltr;display:inline}#recaptcha_widget_div{float:left}.member_blockrow .error{padding:4px 10px 4px 10px}div.cms_table{overflow:auto;overflow-y:hidden;padding:1px}table.cms_table_grid,table.wysiwyg_cms_table_grid{border-collapse:collapse}td.cms_table_grid_td,td.wysiwyg_cms_table_grid_td{border:solid }table.cms_table_outer_border,table.wysiwyg_cms_table_outer_border{border-collapse:collapse;border:solid }td.cms_table_td,td.cms_table_outer_border_td{border:none}--------------------------------------------------------------------------------Above that,insert the following Text--------------------------------------------------------------------------------#navbar_search_options{background:#7192A8 url(newbtn_middle.png) repeat-x ;text-align:left;border-top:0px;-moz-border-radius-bottomleft:5px;-moz-border-radius-bottomright:5px;-webkit-border-bottom-left:5px;-webkit-border-bottom-right:5px}#navbar_search_options li{color:}#navbar_search_options input{border:0px}#navbar_search_options li label{font-weight:normal}div.forcetoregister{background:url(register.png);background-repeat:no-repeat;width:300px;height:200px;padding:0 5px 3px;position:fixed;right:1px;bottom:0px;z-index:1}.bus2{display:block;font-family:Arial,Verdana,sans-serif;font-size:14pt;font-weight:bold;color:#0059BB;margin:0px 8px 0px 8px}ol.similar_threads li h6 a{font-weight:bold}.body_wrapper{border-bottom:2px solid #9B9B9B;border-left:2px solid #9B9B9B;border-right:2px solid #9B9B9B;height:auto !important;margin:0 auto}.notices li{-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}.threadbit .alt{background:none no-repeat scroll left bottom #E9E9E9;border-right-color:#D9D9D9;border-right-width:1px;border-left-color:#D9D9D9;border-left-width:1px}.threadlisthead span.threadstats{text-align:center;width:15%}.forumbit_post .forumdescription{clear:both;display:block;padding-right:5px;padding-left:5px;color:#222222}.forumtitle a{font-weight:bold;padding-right:5px;padding-left:5px}.subforums h4{padding-right:5px;padding-left:5px}.above_body{background:#2f4456 url(gradient-grey-down.png) repeat-x ;margin:0px 0px 10px 0px;padding:0px 0px 0px 0px;-moz-border-radius-bottomleft:5px;-moz-border-radius-bottomright:5px;-webkit-border-bottom-left-radius:5px;-webkit-border-bottom-right-radius:5px;border-bottom-left-radius:5px;border-bottom-right-radius:5px}.doc_header{border:;color:#a8a8a8;font:normal normal normal 11px Arial,Tahoma,Calibri,Verdana,Geneva,sans-serif;position:relative;min-height:35px}.doc_header a{color:}.doc_header a:hover{color:}.doc_header hr{display:none}.logo-image{float:left;clear:right;min-height:2em;height:auto !important;padding:}.toplinks{position:absolute;right:20px;top:0;color:#ffffff;font:normal normal normal 11px Arial,Tahoma,Calibri,Verdana,Geneva,sans-serif;text-align:right;background:none }.toplinks ul.isuser li#fb_headerbox.hidden,.toplinks ul.nouser li#fb_headerbox.hidden{display:none}.toplinks ul.isuser li#fb_headerbox a,.toplinks ul.nouser li#fb_headerbox a{padding-top:0;background:none;cursor:pointer}li#fb_headerbox a#fb_link{position:relative}li#fb_headerbox a#fb_link #fb_squarepic{position:absolute;right:-6px;top:5px;z-index:1;border:1px solid #B3CCE7;padding:1px}li#fb_headerbox a#fb_link #fb_icon{position:absolute;right:10px;top:1px;z-index:2}.toplinks ul.isuser,.toplinks ul.nouser{display:block;float:right;clear:left;list-style:none}.toplinks ul.isuser li{display:inline;position:relative;color:#a8a8a8;float:right;clear:left;padding-right:10px;background:}.toplinks ul.isuser .popupbody li{display:block;float:none;clear:none;padding:0;margin:0}.toplinks ul.isuser li.welcomelink{display:block;float:right;clear:left;padding-top:3px;padding-bottom:3px;padding-left:4px;padding-right:4px;color:#FFFFFF}.toplinks ul.isuser li.logoutlink{top:0}.toplinks ul.isuser li a{display:block;padding-top:3px;padding-bottom:3px;padding-left:4px;padding-right:4px;font-weight:bold;color:#ffffff}.toplinks ul.isuser li li a{float:none;margin-left:0}.toplinks ul.isuser li.welcomelink a{display:inline;float:none;clear:none;margin-left:0}.toplinks ul.isuser li a:hover{padding-top:3px;padding-bottom:3px;padding-left:4px;padding-right:4px;background:#7192A8;color:rgb(255,255,255)}.toplinks ul.nouser li{display:inline}.toplinks ul.nouser li a{display:block;float:right;clear:left;color:#ffffff;position:relative;padding:6px 10px 0 10px;background:#7192A8;-moz-border-radius-bottomleft:5px;-webkit-border-bottom-left-radius:5px;border-bottom-left-radius:5px;-moz-border-radius-bottomright:5px;-webkit-border-bottom-right-radius:5px;border-bottom-right-radius:5px;height:20px;font-weight:bold;font-size:12px;margin-right:10px}.toplinks ul.nouser li a:hover{background:#7192A8;color:rgb(255,255,255)}.toplinks ul.isuser li.popupmenu,.toplinks ul.isuser .notifications,.toplinks ul.isuser .nonotifications{color:#000000;position:relative}.toplinks ul.isuser li.popupmenu ul li{position:relative;top:0;margin:0;text-align:left}.toplinks ul.isuser .notifications .popupbody{background:#7192A8;border:1px solid #7192A8}.toplinks ul.isuser .notifications .popupbody li a{color:#000000;background:#FFFFFF none ;padding:0 5px;font-weight:normal;border-top:1px solid #7192A8;text-align:left;padding-left:30px;line-height:26px}.toplinks ul.isuser .notifications .popupbody li a span{position:absolute;line-height:26px;left:5px}.toplinks ul.isuser .notifications .popupbody li a:hover{color:#000000;background:#FFEB90 none ;text-decoration:underline}.toplinks form{min-width:220px;display:block;margin-right:10px;text-align:left;float:right;clear:left}.toplinks .logindetails{padding:0 10px;text-align:center;background:#7192A8;-moz-border-radius-bottomleft:5px;-webkit-border-bottom-left-radius:5px;border-bottom-left-radius:5px;-moz-border-radius-bottomright:5px;-webkit-border-bottom-right-radius:5px;border-bottom-right-radius:5px;height:26px}.toplinks form input{margin:3px 0 0;vertical-align:baseline;font-size:11px;padding:1px;border:0}.toplinks form input.textbox{color:#000000}.toplinks form input.default-value{color:#777777}.toplinks .remember{margin:-3.33333333333px 0 0 20px;font-size:10px;color:#FFFFFF}.toplinks .remember input{vertical-align:baseline}.toplinks ul.isuser .notifications .popupbody li{border-top:1px solid #7192A8}.cb_cookieuser_navbar{position:relative;top:2px}.notifications a.popupctrl:link,.notifications a.popupctrl:visited,.toplinks a:link,.toplinks a:visited{color:#ffffff;text-decoration:none}.notifications>a:link,.notifications>a:visited{color:#ffffff;text-decoration:none}.notifications > a:hover,.notifications a.popupctrl:hover{color:rgb(255,255,255)}.notifications{font-size:11px;color:#ffffff;-moz-border-radius-bottomleft:5px;-webkit-border-bottom-left-radius:5px;border-bottom-left-radius:5px;-moz-border-radius-bottomright:5px;-webkit-border-bottom-right-radius:5px;border-bottom-right-radius:5px}.notifications a{text-decoration:none}.notifications .popupbody{color:#000000;background:#FFFFFF none }.header hr,.header h2{display:none}.navbar{position:relative;height:53px;background:#2f4456 none ;margin:10px 0px 0px 0px;color:rgb(255,255,255);font:11px Arial,Calibri,Verdana,Geneva,sans-serif;border:0px solid rgb(255,255,255);-moz-border-radius-bottomleft:5px;-moz-border-radius-bottomright:5px;-webkit-border-bottom-left-radius:5px;-webkit-border-bottom-right-radius:5px;border-bottom-left-radius:5px;border-bottom-right-radius:5px}.navbar a{color:rgb(255,255,255)}.navbar a:hover{color:rgb(255,255,255)}.navtabs{background:#7192A8 url(newbtn_middle.png) repeat-x ;padding:0px 0px 0px 20px;height:26px}.navtabs li:first-child{border-left:1px solid #5a7f97}.navtabs ul{position:absolute;top:26px;left:0px;width:100%;border-top:1px solid #5a7f97;-moz-border-radius-bottomleft:5px;-moz-border-radius-bottomright:5px;-webkit-border-bottom-left-radius:5px;-webkit-border-bottom-right-radius:5px;border-bottom-left-radius:5px;border-bottom-right-radius:5px;margin-right:-80px;direction:ltr}.navtabs li{float:left;border-right:1px solid #5a7f97}.navtabs ul li:first-child{margin-left:20px;border-left:0}#navtabs .popupmenu ul li:first-child{margin-left:0px}.navtabs ul li{border-right:0;position:relative}.navtabs li a{height:26px;line-height:26px;padding:0 10px}.navtabs li a.navtab{border-top:1px solid #Cedfeb;border-left:1px solid #Cedfeb;display:block;background:#7192A8 url(newbtn_middle.png) repeat-x ;min-width:60px;width:auto !important;width:60px;text-align:center;color:#ffffff;font:bold 12px Arial,Calibri,Verdana,Geneva,sans-serif;text-decoration:none;line-height:26px}.navtabs li a.navtab:hover{background:#7192a8 url(selected-tab-gradient-with-top-alpha.png) repeat-x 0 -4px;color:#000000}.navtabs li.selected{height:26px;color:#000000}.navtabs li.selected a.navtab{color:#000000;background:#7192a8 url(selected-tab-gradient-with-top-alpha.png) repeat-x ;position:relative;top:-4px;padding-top:4px;z-index:10}.navtabs li.selected li a,.navbar_advanced_search li a{text-decoration:none;font:11px Arial,Calibri,Verdana,Geneva,sans-serif;line-height:26px}.navtabs li.selected li a{color:rgb(255,255,255);padding:2px 5px}.navtabs li.selected ul.popupbody a{line-height:26px}.navbar_advanced_search li{height:26px;display:block;clear:both}.navbar_advanced_search li a{color:rgb(255,255,255)}.navbar_advanced_search li a:hover{color:rgb(255,255,255);text-decoration:underline}.navtabs li.selected li a:hover{color:rgb(255,255,255);text-decoration:underline}.navtabs li.selected .popupbody li a{text-indent:0;color:#000000;background:#FFFFFF none ;padding:0px 10px}.navtabs li.selected .popupbody li a:hover{color:#000000;background:#FFEB90 none }.navtabs li.selected li a.popupctrl{-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;border:solid 1px transparent;background:transparent url(arrow.png) no-repeat right center;padding-right:15px;color:rgb(255,255,255)}.toplinks .notifications a.popupctrl{padding-top:3px;padding-bottom:3px;padding-left:4px;padding-right:15px;background:#7192A8 url(arrow.png) right center no-repeat ;-moz-border-radius-bottomleft:5px;-moz-border-radius-bottomright:5px;-webkit-border-bottom-right-radius:5px;-webkit-border-bottom-left-radius:5px;border-bottom-right-radius:5px;border-bottom-left-radius:5px}.toplinks .nonotifications a.popupctrl{padding-top:3px;padding-bottom:3px;padding-left:4px;padding-right:15px;background:transparent url(arrow.png) no-repeat right center}.toplinks .notifications a.popupctrl:hover,.toplinks .nonotifications a.popupctrl:hover,.toplinks .nonotifications a.popupctrl.active ,.toplinks .notifications a.popupctrl.active{padding-top:3px;padding-bottom:3px;padding-left:4px;padding-right:15px;background:#7192A8 url(arrow.png) no-repeat right center}.toplinks .notifications a.popupctrl:hover{padding-top:3px}.navtabs li.selected li:hover a.popupctrl{border-color:#2f4456;background-color:#7192A8;text-decoration:none}.navtabs li.selected li:hover a.popupctrl.active,.navtabs li.selected li a.popupctrl.active{border-color:#7192A8;background-color:#7192A8;color:rgb(255,255,255);border-radius:3px 3px 0px 0px;text-decoration:none}.navtabs .popupbody{border:1px solid #7192A8;background:#7192A8;width:auto}.navtabs .popupbody li{float:none;border-top:1px solid #7192A8}#navtabs .popupmenu ul,#navtabs .popupmenu ul li a{height:auto}.nonotifications div.popupbody{min-width:170px;width:auto !important;width:170px;background:#7192A8;border:1px solid #7192A8}.nonotifications .popupbody p{color:#000000;background:#FFFFFF none ;text-align:left;border-top:1px solid #7192A8;padding:0;text-indent:5px;line-height:26px;display:block}.toplinks .nonotifications .popupbody a{color:#000000;background:#FFFFFF none ;float:none;clear:none;padding:0 5px;margin-left:0;text-align:left;line-height:26px}.toplinks .nonotifications .popupbody a:hover{color:#000000;background:#FFEB90 none ;text-decoration:underline;padding:0 5px}.globalsearch{position:absolute;width:180px;right:20px;top:0px;float:right;clear:left;text-align:right;line-height:1.0em;display:block}.navbar_search{position:relative;width:180px;right:-20px;display:block}.navbar_search input{font-size:11px;vertical-align:middle;padding:1px;border:1px solid #6B91AB}.globalsearch .textboxcontainer{height:26px;border-left:1px solid #5a7f97;display:inline-block;float:left;text-align:center}.globalsearch .textboxcontainer span{border-top:1px solid #Cedfeb;border-left:1px solid #Cedfeb;display:inline-block;height:22px;padding-left:2px;padding-right:2px;padding-top:3px;margin-bottom:1px;width:147px}.globalsearch input.textbox{width:120px}.toplinks form input.loginbutton{font-size:11px;padding:0 5px;border:solid 1px rgb(65,93,141)}.globalsearch .buttoncontainer{height:26px;border-left:1px solid #5a7f97;display:inline-block;border-right:1px solid #5a7f97;width:25px;overflow:hidden;float:right}.globalsearch .buttoncontainer span{border-top:1px solid #Cedfeb;border-left:1px solid #Cedfeb;height:23px;padding-left:4px;padding-top:2.5px;display:inline-block}.globalsearch .searchbutton{border:0;padding:0;width:22px;margin-top:-2px;margin-left:-2px}.breadcrumb .navbit{float:left;background-image:url(navbit-arrow-right.png);background-position:right center;background-repeat:no-repeat;padding-right:10px;padding-left:3px}.breadcrumb .navbit:first-child{padding-left:0}.breadcrumb .navbit.lastnavbit{background:transparent}.breadcrumb .navbit.lastnavbit span{float:left;background:transparent;padding-right:10px;padding-left:3px}.breadcrumb .navbit > a,.breadcrumb .lastnavbit > span{display:block;padding:2px 4px;float:left;background-color:transparent;border:1px solid transparent;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}.breadcrumb .navbit a{text-decoration:none}.breadcrumb hr{display:none}#pagetitle{padding:0px 0px 0px 0px;clear:both;padding-top:5px;background:none ;border:}#pagetitle a{color:}#pagetitle a:hover{color:}#pagetitle h1{color:inherit;font:normal normal bold 14px Tahoma,Calibri,Verdana,Geneva,sans-serif}#pagetitle .description{color:inherit;font-size:11.05px}.newcontent_textcontrol{background:#086299 url(newbtn_middle.png) repeat-x left top;_background-image:none;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;-moz-box-shadow:0 3px 8px #dddddd;-webkit-box-shadow:0 3px 8px #dddddd;box-shadow:0 3px 8px #dddddd;font:bold 14px Arial,sans-serif;color:rgb(255,255,255);padding:4px 15px 4px 15px;border:0 ;display:block;float:left;clear:right}.newcontent_textcontrol span{font:bold 14px Arial,sans-serif;font-size:15px;font-weight:bold;display:inline}.newcontent_textcontrol:hover{background:rgb(255,102,0) url(newbtn_middle.png) repeat-x left top;color:rgb(255,255,255);text-decoration:none}.footer{clear:both;margin-top:2px;text-align:right;display:block;-moz-box-shadow:-2px 2px 2px #c8c8c8;-webkit-box-shadow:-2px 2px 2px #c8c8c8;box-shadow:-2px 2px 2px #c8c8c8;background:#113553 none ;padding:5px 0px 5px 0px;border:1px solid #425769;color:;font:normal 13px Tahoma,Calibri,Verdana,Geneva,sans-serif}.footer a{color:rgb(255,255,255)}.footer a:hover{color:rgb(255,255,255)}.footer_copyright,.footer_morecopyright{padding-bottom:5px;color:rgb(153,153,153);font:normal 11px Tahoma,Calibri,Verdana,Geneva,sans-serif;margin-top:10px;text-align:center;display:block}.footer_time{color:rgb(153,153,153);font:normal 11px Tahoma,Calibri,Verdana,Geneva,sans-serif;padding-top:10px;text-align:center}.footer_select{float:left;text-align:left;margin-left:10px;margin-top:0}.footer_links{margin-right:10px;margin-top:2px}.footer_links li{display:inline;margin-left:5px}.below_body .time{color:rgb(255,255,0)}.notices{background:rgb(255,255,255);margin:5px 0}.notices li{background:#ffeb90 none ;font-size:12px;color:#3e3e3e;padding:5px 10px;margin-bottom:5px;-moz-box-shadow:-2px 2px 2px #c8c8c8;-webkit-box-shadow:-2px 2px 2px #c8c8c8;box-shadow:-2px 2px 2px #c8c8c8;text-align:left;clear:both}.breadcrumb .navbithome{float:left;padding:3.5px 0}.ad_global_header{}#ad_global_header1{float:left;clear:right;padding:0 0 0 0;margin:0 0 0 0}#ad_global_header2{float:left;padding:0 0 0 0;margin:0 0 0 0}#ad_global_below_navbar{width:100%;padding:0 0 0 0;margin:0 0 0 0}#ad_global_above_footer{width:100%;padding:0 0 0 0;margin:0 0 0 0;text-align:left;clear:both}#ad_board_below_whats_going_on{width:100%;padding:0 0 0 0;margin:0 0 0 0;text-align:left}#ad_thread_first_post_content{float:right;margin:0 0 0 0}#ad_thread_last_post_content{float:right;margin:0 0 0 0;z-index:1000}.google_adsense_footer{clear:both}.formcontrols input,select,textarea{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box}.formcontrols input.textbox{height:25px;*height:12px}.formcontrols .blocksubhead{font-weight:bold}.vbform .blockhead{margin-top:2em}.vbform .blockhead:first-child{margin-top:0}.settings_form_top_border{border-top:1px solid #6B91AB}.blockbody.settings_form_border{border-right:1px solid #6B91AB;border-left:1px solid #6B91AB;border-bottom:1px solid #6B91AB}.vbform{clear:both;width:auto;max-width:100%;_width:100%;margin:0 auto 2em}.formcontrols{border-right:1px solid #6B91AB;border-left:1px solid #6B91AB;border-bottom:1px solid #6B91AB}.formcontrols .blockrow{background:#FFFFFF none repeat-x center bottom;border-top:solid 1px #cedfeb;padding:10px 5px}.formcontrols .section{padding:0 15px}.formcontrols > *:first-child,.formcontrols .blocksubhead + .blockrow,.formcontrols .section .blockrow:first-child{border-top:none}.button{padding:2px 2px}.button:hover{color:#417394}.button[type="reset"]:hover{color:#417394}.textbox,textarea,select{font:normal 11px Tahoma,Calibri,Verdana,Geneva,sans-serif;color:#000000;background:rgb(255,255,255) none ;border:1px solid #6B91AB;padding:4px;outline:0;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px}.textbox[disabled],textarea[disabled]{font-style:italic;color:#777777}.formcontrols .blockrow input.textbox:focus,.formcontrols .blockrow textarea:focus{background:#f2f6f8 none }form .rightcol{display:block;margin-left:212px;max-width:496px;*margin-left:0;float:none}.blockbody.formcontrols .blockrow .rightcol *{margin-left:0;width:auto}.blockbody.formcontrols .blockrow .rightcol .primary{width:50%}.blockbody.formcontrols .blockrow .rightcol textarea.primary{width:70%}.blockbody.formcontrols .blockrow .rightcol .description{width:auto}.formcontrols .blockrow .primary{width:248px}.formcontrols .blockrow .primary.full{max-width:100%;width:496px;float:left}.formcontrols .blockrow .group{width:100%}.formcontrols .blockrow .group li{margin-top:5px}.formcontrols .blockrow .group li:first-child{margin-top:0}.formcontrols .blockrow .group .textbox{width:248px}.formcontrols .blockrow .primary.center{}.formcontrols .blockrow .primary.center img.icon{border:1px solid rgb(65,93,141)}.formcontrols .blockrow .titleprefix{float:left;margin-right:0.5em}.formcontrols .blockrow * .group{width:auto;float:none}.formcontrols .blockrow input.textbox[size]{width:auto}.editor_textbox textarea{width:500px;max-width:98%;min-width:98%;height:200px;float:none}.editor_textbox textarea,#ie8#fix{width:98%}.formcontrols .blockrow input.numeric,.formcontrols .blockrow select.numeric{text-align:right}.formcontrols .blockrow label,.formcontrols .blockrow .group.multifield label,.formcontrols .blockrow .groupoption label{display:block;margin-bottom:2px}.formcontrols .blockrow label{width:212px;float:left;font-size:13px}.formcontrols .blockrow label.full{width:auto;float:none;font-weight:bold}.formcontrols .blockrow label.floatlabel{margin-left:10px}.formcontrols .blockrow * label{display:block;margin-bottom:auto;width:auto;float:none}.formcontrols .blockrow .group li label,.formcontrols .blockrow .group dt label{width:212px;float:left}.formcontrols .blockrow .group.full li label,.formcontrols .blockrow .group.full dt label{width:auto}.formcontrols .blockrow .label{margin-bottom:8px}.formcontrols .blockrow.singlecheck label{float:left}.formcontrols fieldset.blockrow legend{margin:0;font-size:13px;font-weight:bold;padding-bottom:10px\9}.formcontrols .blockrow .description{color:#777777;font-size:11px;max-width:496px;margin-left:212px;overflow:hidden;line-height:150%;margin-bottom:5px}.formcontrols .blockrow .group.multifield + .description{padding-top:1.3em}.blockrow.texteditor .description{float:none;width:auto;margin-top:2px}.formcontrols .blockrow .group.numeric + .description{}.formcontrols .blockrow .singledescription{display:block;clear:left;margin-bottom:10px}.formcontrols .blockrow .group.checkradio{width:auto}.formcontrols .blockrow .group.checkradio li label{float:none}.formcontrols .blockrow .group.checkradio.full{width:100%}.formcontrols .blockrow .group.checkradio.partial{width:212px}.formcontrols .blockrow .group.checkradio.horizontal{height:30px}.formcontrols .blockrow .group.checkradio.horizontal li label{float:left;padding-right:10px}.formcontrols .blockrow .group.checkradio > li{margin-bottom:0.5em}.formcontrols .blockrow .group.multifield li{float:left;margin-right:1em;margin-top:0}.formcontrols .blockrow .group.multifield.stacked li{float:none;margin-top:2px}.formcontrols .blockrow .group.multifield label{margin-bottom:2px;display:block;float:none;width:auto}.formcontrols .blockrow .group.multifield select,.formcontrols .blockrow .group.multifield input.textbox{float:none}.formcontrols .blockrow .group.numeric{width:auto;*width:24%;max-width:212px;margin-right:2%}.formcontrols .blockrow .group.numeric li{clear:both}.formcontrols .blockrow .group.numeric label{float:left;margin-top:1px}.formcontrols .blockrow .group.numeric input.textbox{float:right;text-align:right;margin-left:20px;margin-bottom:2px}.formcontrols .blockrow .group.numeric .description{clear:both;text-align:right;margin:auto;margin-bottom:0.2em}.formcontrols .blockrow input.textbox.numeric{text-align:right}.formcontrols input.button,.actionbuttons{max-width:100%}.blockfoot.actionbuttons.redirect_button{background-color:transparent;padding-top:5px}.blockfoot.actionbuttons.redirect_button .group{padding-right:0px}.actionbuttons .group{float:none;text-align:right;padding:0 10px 0 10px}.vbform .actionbuttons .group{margin:0 auto;width:auto;max-width:100%;_width:100%}.actionbuttons .small_text_buttons,.actionbuttons .small_text_buttons input.button{padding-left:10px;padding-right:10px}.actionbuttons .group .button{cursor:pointer;padding:2.5px 5px;font:bold 11px Tahoma,Calibri,Verdana,Geneva,sans-serif;border:1px solid #a8a8a8;color:#424242;background:#e9e9e9 url(generic_button.png) repeat-x top left}.actionbuttons .group .button:hover{background:#efefef url(generic_button.png) repeat-x ;color:#417394}.formcontrols .blockrow #posticon_preview{width:16px;height:16px;margin-left:10px}.formcontrols .blockrow.posticons table{max-width:100%;width:496px}.formcontrols .blockrow.posticons td{padding:2px}.formcontrols .blockrow select.rating option{background-image:url(rating-15_3.png);background-repeat:no-repeat;background-position:left center;padding-left:85px}.formcontrols .blockrow dl.dep_group dd,.formcontrols .blockrow .dep_group .deps{margin-left:1.5em;margin-top:0.5em;margin-bottom:0.2em}.formcontrols .blockrow dl.dep_group dd dl.dep_group{}input[type="submit"][disabled]#blog_deletebtn:active,input[type="submit"][disabled]#blog_deletebtn{color:graytext}.formcontrols .blockrow .group.attachments li{margin-bottom:0.5em}.formcontrols .blockrow .group.attachments li img{vertical-align:middle}.formcontrols .group.upperlower li,.formcontrols .group.imfields li{width:45%;padding-bottom:0.3em}.formcontrols .group.upperlower li input.textbox,.formcontrols .group.imfields li input.textbox,.formcontrols .group.imfields li select{width:100%}.formcontrols .group.imfields li select{margin-bottom:-0.3em}.groupcontrols{text-align:right;clear:both;margin-bottom:5px}.groupcontrols .textcontrol{margin-left:10px;margin-top:0;display:inline-block}.formcontrols .blockrow.singlebutton .button{}.formcontrols .groupoption{display:block;clear:left}.group.radio,.group.checkbox{background:#f2f6f8 none }.formcontrols .blockrow .group.checkradio .daycheckboxes li{float:left;padding-right:1em;padding-top:0.5em}.savepreferences{float:left;text-align:left;width:49.5%}.formcontrols #fbregbox.blockrow.hidden{visibility:hidden}#tag_list_cell .formcontrols .blockrow .group li label,#tag_list_cell .formcontrols .blockrow .group dt label{width:auto}#tag_edit_list li{clear:right;width:auto;margin-right:10px}#tag_list_cell .formcontrols .blockrow .group li{margin-top:0}.picker-holder{display:block;text-align:center;margin:auto;top:20px;background-color:#ffffff}.picker{background-color:#aaaaaa;background:-moz-linear-gradient(#eeeeee,#999999);background:-webkit-gradient( linear,0 0,0 100%,from(white),to(#aaaaaa) );display:block}.lightgraybackground{background-color:#ffffff;background:-moz-linear-gradient(#ffffff,#cccccc);background:-webkit-gradient( linear,0 0,0 100%,from(#ffffff),to(#cccccc) )}.centerbar{position:absolute;width:2px;left:50%}.hbar{height:2px;text-align:center;display:block;width:100%;margin-bottom:4px}.alert_box{
	text-align:center;
	display:block;
	position:absolute;
	color:#222222;
	background-color:#aaaaaa;
	background:-moz-linear-gradient(#ffffff,#888888);
	background:-webkit-gradient( linear,0 0,0 100%,from(#ffffff),to(#888888) );

-moz-border-radius:10px;-webkit-border-radius:10px;		border-radius:10px;
	border:#000000 2px solid;
	z-index:10;
	left: 335px;
	top: 348px;
}.alert_box .hd{text-align:center;display:none;color:#ffffff;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px}.alert_box .bd{color:#222222;background:-moz-linear-gradient(#ffffff,#888888);background:-webkit-gradient( linear,0 0,0 100%,from(#ffffff),to(#888888) );-moz-border-radius-topleft:10px;-moz-border-radius-topright:10px;-webkit-border-radius-topleft:10px;-webkit-border-radius-topright:10px}.alert_box .ft{text-align:right;background:-moz-linear-gradient(#888888,#000000);background:-webkit-gradient( linear,0 0,0 100%,from(#888888),to(#000000) )}.alert_box .ft input.btn{display:none;padding-top:4px;padding-bottom:4px;text-align:center;margin:4px 10px 4px 10px;color:#ffffff;background:-moz-linear-gradient(#888888,#000000);background:-webkit-gradient( linear,0 0,0 100%,from(#888888),to(#000000) );border:1px #ffffff solid;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;float:right;font-weight:bold}.ok_button{display:none;padding-top:4px;padding-bottom:4px;text-align:center;width:80px;margin:4px 10px 4px 10px;color:#ffffff;background:-moz-linear-gradient(#888888,#000000);background:-webkit-gradient( linear,0 0,0 100%,from(#888888),to(#000000) );border:1px #ffffff solid;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;float:right;font-weight:bold}.attach_popup{display:none;border:1px #000000 solid;margin:0px;padding:0px;background-color:#aaaaaa;-moz-border-radius:5px;border-radius:5px}.assetpicker_body{display:block;width:100%;background-color:#bbbbbb;background:-moz-linear-gradient(#ffffff,#999999);background:-webkit-gradient( linear,0 0,0 100%,from(white),to(#aaaaaa) );padding:5px}.transparent{background-color:transparent}.grey_select_item{background-color:#eeeeee}.tall_select{height:30px}.vbseo_buttons{font-size:11px;position:relative}.vbseo_buttons .vbseo_links{visibility:hidden;padding:10px;margin:0;width:auto}.vbseo_buttons .vbseo_share ,.vbseo_buttons .vbseo_like,.vbseo_buttons .seperator{display:inline-block;float:right;padding:0 4px}.vbseo_buttons .vbseo_liked{border-color:#D5D5D5 #B3B3B3 #999999;border-style:solid;border-width:1px;background:#E9E9E9 url(vbseo_like.png) 5px center no-repeat;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;clear:both;display:block;padding:7px 7px 7px ;padding-left:25px;margin:10px}.vbseo_liked_image{left:5px;position:absolute;top:5px}.postbit-lite .postbithead.likehead{max-height:1.05em;overflow:hidden;line-height:1.5em;font-size:11px;padding:6px 10px 7px}.postbit-lite .postbithead.likehead strong{font-size:11px;font-weight:900}.postbit-lite .posttext.likedate{font-size:11px;margin-top:-10px;color:#777777}.postbit-lite .posttext.likedate .time{color:#777777}.vbseo_share_body{width:280px;border:1px solid #efefef;background:#E9E9E9;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;position:absolute;right:0px;visibility:hidden;z-index:9000;box-shadow:0 4px 7px;-moz-box-shadow:0 4px 7px;-webkit-box-shadow:0 4px 7px}.restore .vbseo_share_body{top:-80px}.vbseo_share:hover .vbseo_share_body{visibility:visible}.vbseo_share_body li{width:140px;border:none}.restore ul.vbseo_share_body li{list-style:none inside}.vbseo_share_body li:hover{background:#ffeb90}.vbseo_share_body li.share_header{background:#ddd;font-size:120%;width:270px;padding:3px 5px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;border-bottom-left-radius:0;-moz-border-radius-bottomright:0;-webkit-bottom-left-border-radius:0;border-bottom-right-radius:0;-moz-border-radius-bottomleft:0;-webkit-bottom-right-border-radius:0}.vbseo_share_body li:hover.header{background:#ddd}.vbseo_share_body li.left{float:left;clear:left}.vbseo_share_body li.right{float:right;clear:right}.vbseo_share_body li img{float:left;padding:4px;position:relative;top:-2px;margin:0}.vbseo_share_body li > a{padding:4px;display:block;color:#343434;text-decoration:none}#vbseo-likes{float:right;margin:0;color:#3e3e3e;height:50px;background-color:#f6f6f6;border:1px solid #e7e7e7;-moz-border-radius:5px;border-radius:5px;-webkit-radius-border:5px;position:relative;*z-index:10000;color:3e3e3e;font-family:Arial,Helvetica,sans-serif;*width:128px;min-width:108px;cursor:pointer}#vbseo-likes:hover{background-color:#F3F3F3}#vbseo-likes.vbseo-likes-preload,#vbseo-likes.vbseo-likes-tpreload{background:url(vbseo-likes-ajax-loader.gif) no-repeat scroll 95% 5% #F3F3F3}#vbseo-likes.vbseo-likes-preload .vbseo-likes-count,#vbseo-likes.vbseo-likes-tpreload .vbseo-likes-count{opacity:.4}#vbseo-likes.vbseo-likes-active,#vbseo-likes.vbseo-likes-tpreload{-moz-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0;-webkit-radius-border:5px 5px 0 0;background-color:#F3F3F3;border-bottom-color:#F3F3F3;-moz-box-shadow:2px 4px 5px #CCCCCC;-webkit-box-shadow:2px 4px 5px #CCCCCC;box-shadow:2px 4px 5px #CCCCCC}.vbseo-likes-count{font-family:Tahoma,Calibri,Verdana,Geneva,sans-serif;font-size:26px;font-weight:bold;height:30px;float:right;padding-top:9px;padding-bottom:11px;padding-left:40px;padding-right:9px;position:relative}.vbseo-likes-count-image{position:absolute;top:13px;left:10px}.vbseo-likes-count em{background:url(lkarrow.png) no-repeat scroll right -2px transparent;font-size:11px;font-style:normal;font-weight:normal;margin-left:4px;padding-right:14px}#vbseo-likes.vbseo-likes-active .vbseo-likes-container,#vbseo-likes.vbseo-likes-tpreload .vbseo-likes-container{display:block}.vbseo-likes-container{display:none;background-color:#F3f3f3;top:50px;right:-1px;position:absolute;border:1px solid #e7e7e7;border-top:none;min-width:196px;_width:196px;border-radius:5px 0 5px 5px;-moz-border-radius:5px 0 5px 5px;-webkit-border-radius:5px 0 5px 5px;-moz-box-shadow:2px 4px 5px #CCCCCC;-webkit-box-shadow:2px 4px 5px #CCCCCC;box-shadow:2px 4px 5px #CCCCCC;z-index:9000;*z-index:10002}ul.vbseo-likes-tabs{list-style:inside none;margin:0;padding:9px 10px 6px;*z-index:10003}ul.vbseo-likes-tabs li{display:inline;margin:0;padding:0;line-height:12px;*z-index:10004}ul.vbseo-likes-tabs li a{text-decoration:none;padding:1px 5px;font-size:11px}ul.vbseo-likes-tabs li a:hover,ul.vbseo-likes-tabs li a.active{color:#FFF;-moz-border-radius:3px;border-radius:3px;background-color:#888}ul.vbseo-likes-tabs li.vbseo-likes-fusion{position:absolute;right:0;top:-1px;height:1px;width:108px;background-color:#F3F3F3}ul.vbseo-likes-list{list-style:inside none;margin:3px;padding:0;background-color:#fff;border-bottom:1px solid #EBEBEB;*z-index:10003}.vbseo-likes-list li{margin:0px;border-top:1px solid #EBEBEB;font-size:14px;padding:8px 10px;line-height:12px;position:relative;cursor:pointer;*z-index:10004}.vbseo-likes-list li:hover{background-color:#ffeb90}.vbseo-likes-avatar{float:left;height:24px;overflow:hidden;width:24px;*z-index:10005}.vbseo-likes-info{margin-left:33px;line-height:12px;*z-index:10005}.vbseo-likes-hearts{background:url(vbseo_like_bg.png) no-repeat scroll 100% 2px transparent;height:16px;position:absolute;right:10px;top:15px;z-index:1;*z-index:10006}.vbseo-likes-hearts strong{font-size:16px;font-weight:bold;padding-right:16px;z-index:1}.vbseo-likes-postby{color:#999999;font-size:11px;display:block;margin-left:33px;margin-right:44px;word-wrap:break-word;*z-index:10006}.vbseo-likes-postby strong{display:block;color:#3e3e3e;height:14px;font-size:12px;font-weight:normal;white-space:nowrap}.vbseo-likes-link{position:absolute;top:0;left:0;width:100%;height:100%;*z-index:10004}.vbseo-likes-tipsy{left:-230px;font-size:10px;padding:5px;position:absolute;z-index:100000;opacity:0.8;top:0px;display:none;*z-index:100005}.vbseo-likes-list li:hover .vbseo-likes-tipsy{display:block !important}.vbseo-likes-tipsy-arrow{background:url(vbseo-like-arrow.gif) no-repeat scroll left top transparent;background-position:right top;height:9px;right:1px;top:16px;position:absolute;width:5px}.vbseo-likes-tipsy-inner{-moz-border-radius:3px;border-radius:3px;background-color:black;color:white;width:200px;min-height:23px;padding:5px 8px 4px;text-align:left;word-break:break-all}
