<span style='color: #000'>188 frames</span>	<span style='color: #900'>8,192 KB</span>	<span style='color: #090'>1,460.35 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />