.custom_tab{
	height: 400px;
	overflow-x: auto;
	overflow-y: auto;
} /* Estilo para dejar el heigth de las tabs de un solo tamaño aplicarse a cada div de cada tab scroll por defecto*/
.custom_page{
	height: 465px;
	overflow-x: auto;
	overflow-y:auto;
}
.pointer{
	cursor:pointer;
}
html{
	font-size:62.5%;
}
body{
	font-size:1.2em;
	color:#294f88;
	font-size:1.1em;
	font-family: Tahoma, Geneva, sans-serif;
}
h1{
	margin:0 0 20px 0;
	padding:0;
	font-size:2em;
}
h2{
	margin:40px 0 20px 0;
	padding:0;
	font-size:1.6em;
}
.easy-accordion h2{
	margin:0px 0 20px 0
	;padding:0;
	font-size:1.6em;
}
p{
	font-size:1.2em;
	line-height:170%;
	margin-bottom:20px
}

/* UNLESS YOU KNOW WHAT YOU'RE DOING, DO NOT CHANGE THE FOLLOWING RULES */

.easy-accordion{
	display:block;
	position:relative;
	overflow:hidden;
	padding:0;
	margin:0
}
.easy-accordion dt,.easy-accordion dd{
	margin:0;
	padding:0
}
.easy-accordion dt,.easy-accordion dd{
	position:absolute
}
.easy-accordion dt{
	margin-bottom:0;
	margin-left:0;z-index:5;
	/* Safari */ -webkit-transform: rotate(-90deg);
	/* Firefox */ -moz-transform: rotate(-90deg);
	-moz-transform-origin: 20px 0px;
	/* Internet Explorer */ filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	cursor:pointer;
}
.easy-accordion dd{
	z-index:1;
	opacity:0;
	overflow:hidden
}
.easy-accordion dd.active{
	opacity:1;
}
.easy-accordion dd.no-more-active{
	z-index:2;
	opacity:1
}
.easy-accordion dd.active{
	z-index:3
}
.easy-accordion dd.plus{
	z-index:4
}
.easy-accordion .slide-number{
	position:absolute;
	bottom:0;
	left:10px;
	font-weight:normal;
	font-size:1.1em;
	/* Safari */ -webkit-transform: rotate(90deg);
	/* Firefox */ -moz-transform: rotate(90deg);
	/* Internet Explorer */ filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

/* FEEL FREE TO CUSTOMIZE THE FOLLOWING RULES */

dd p{
	line-height:120%
}
#accordion-1{
	width:780px;
	height:350px;
	padding:0px;
	background:#fff;
	border:1px solid #b5c9e8
}
#accordion-1 dl{
	width:780px;
	height:350px
}
#accordion-1 dt{
	height:46px;
	line-height:44px;
	text-align:right;
	padding:0 15px 0 0;
	font-size:1.1em;
	font-weight:bold;
	font-family: Tahoma, Geneva, sans-serif;
	text-transform:uppercase;
	letter-spacing:1px;
	background:#fff url(../images/slide-title-inactive-1.jpg) 0 0 no-repeat;
	color:#26526c
}
#accordion-1 dt.active{
	cursor:pointer;
	color:#fff;
	background:#fff url(../images/slide-title-active-1.jpg) 0 0 no-repeat
}
#accordion-1 dt.hover{
	color:#68889b;
}
#accordion-1 dt.active.hover{
	color:#fff
}
#accordion-1 dd{
	padding:25px;
	background:url(../images/slide.jpg) bottom left repeat-x;
	border:1px solid #dbe9ea;
	border-left:0;
	margin-right:3px
}
#accordion-1 .slide-number{
	color:#68889b;
	left:10px;
	font-weight:bold
}
#accordion-1 .active .slide-number{
	color:#fff;
}
#accordion-1 a{
	color:#68889b
}
#accordion-1 dd img{
	float:right;
	margin:0 0 0 30px;
}
#accordion-1 h2{
	font-size:2.5em;
	margin-top:10px
}
#accordion-1 .more{
	padding-top:10px;
	display:block
}
#logo{
	float:right
}
.img{
	position:static;
	/* Safari */ -webkit-transform: rotate(90deg);
	/* Firefox */ -moz-transform: rotate(90deg);
	/* Internet Explorer */ filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
	width:30px;
	height:30px;
}
body h2{
	font-size:2.5em;
	margin-top:10px
}
#accordionNestedChild div.title{
	height:30px;
	line-height:44px;
	text-align:right;
	padding:0 15px 0 0;
	font-weight:bold;
	text-transform:uppercase;
	letter-spacing:1px;
	background:#fff url(../images/slide-title-inactive-1.jpg) 0 0 no-repeat;
	color:#26526c
}
#accordionNestedChild div.title.active{
	cursor:pointer;
	color:#fff;
	background:#fff url(../images/slide-title-active-1.jpg) 0 0 no-repeat
}

.accordionWrapper div.title{
	cursor:pointer;
	height:25px
}
.accordionWrapper div.content{
	display:none;
}
label {
	text-align:left;
	display:block;
	color: #444;
}
#field, label { 
	float: left;
}
br {
	clear: both;
}