.simplecolorpicker{
 max-width: 300px;
}
.simplecolorpicker span.color[data-selected]:after {
  content: '\2714'; /* Ok/check mark */
  width: 12px;
  display: block;
  padding-left: 4px
}

/*t-shirt*/

#tshirt_container{
 position: relative; width: 850px; height: 600px;
}

#tshirt_container .tshirt_layer{
 position: absolute; display: table;  width: 850px; height: 600px;
}

#tshirt_layer_1{
 z-index: 1;
}

#tshirt_layer_2{
	z-index: 2;	-o-mix-blend-mode: multiply;	-ms-mix-blend-mode: multiply;	-moz-mix-blend-mode: multiply;	mix-blend-mode: multiply;	-webkit-mix-blend-mode: multiply;
}

#tshirt_layer_3{
	z-index: 3;	-o-mix-blend-mode: multiply;	-ms-mix-blend-mode: multiply;	-moz-mix-blend-mode: multiply;	mix-blend-mode: multiply;	-webkit-mix-blend-mode: multiply;
}

#tshirt_layer_4{
	z-index: 4;	-o-mix-blend-mode: multiply;	-ms-mix-blend-mode: multiply;	-moz-mix-blend-mode: multiply;	mix-blend-mode: multiply;	-webkit-mix-blend-mode: multiply;
}
#tshirt_layer_5{
	z-index: 5;	-o-mix-blend-mode: multiply;	-ms-mix-blend-mode: multiply;	-moz-mix-blend-mode: multiply;	mix-blend-mode: multiply;	-webkit-mix-blend-mode: multiply;
}
#tshirt_layer_6{
	z-index: 6;	-o-mix-blend-mode: multiply;	-ms-mix-blend-mode: multiply;	-moz-mix-blend-mode: multiply;	mix-blend-mode: multiply;	-webkit-mix-blend-mode: multiply;
}
#tshirt_layer_7{
	z-index: 7;	-o-mix-blend-mode: multiply;	-ms-mix-blend-mode: multiply;	-moz-mix-blend-mode: multiply;	mix-blend-mode: multiply;	-webkit-mix-blend-mode: multiply;
}
#tshirt_layer_8{
	z-index: 8;	-o-mix-blend-mode: multiply;	-ms-mix-blend-mode: multiply;	-moz-mix-blend-mode: multiply;	mix-blend-mode: multiply;	-webkit-mix-blend-mode: multiply;
}
#tshirt_layer_9{
	z-index: 9;	-o-mix-blend-mode: multiply;	-ms-mix-blend-mode: multiply;	-moz-mix-blend-mode: multiply;	mix-blend-mode: multiply;	-webkit-mix-blend-mode: multiply;
}
#tshirt_layer_10{
	z-index: 10;	-o-mix-blend-mode: multiply;	-ms-mix-blend-mode: multiply;	-moz-mix-blend-mode: multiply;	mix-blend-mode: multiply;	-webkit-mix-blend-mode: multiply;
}
#tshirt_layer_11{
	z-index: 11;	-o-mix-blend-mode: multiply;	-ms-mix-blend-mode: multiply;	-moz-mix-blend-mode: multiply;	mix-blend-mode: multiply;	-webkit-mix-blend-mode: multiply;
}
#tshirt_layer_12{
	z-index: 12;	-o-mix-blend-mode: multiply;	-ms-mix-blend-mode: multiply;	-moz-mix-blend-mode: multiply;	mix-blend-mode: multiply;	-webkit-mix-blend-mode: multiply;
}
#tshirt_layer_13{
	z-index: 13;	-o-mix-blend-mode: multiply;	-ms-mix-blend-mode: multiply;	-moz-mix-blend-mode: multiply;	mix-blend-mode: multiply;	-webkit-mix-blend-mode: multiply;
}
#tshirt_layer_14{
	z-index: 14;	-o-mix-blend-mode: multiply;	-ms-mix-blend-mode: multiply;	-moz-mix-blend-mode: multiply;	mix-blend-mode: multiply;	-webkit-mix-blend-mode: multiply;
}
#tshirt_layer_15{
	z-index: 15;	-o-mix-blend-mode: multiply;	-ms-mix-blend-mode: multiply;	-moz-mix-blend-mode: multiply;	mix-blend-mode: multiply;	-webkit-mix-blend-mode: multiply;
}
#tshirt_layer_16{
	z-index: 16;	-o-mix-blend-mode: multiply;	-ms-mix-blend-mode: multiply;	-moz-mix-blend-mode: multiply;	mix-blend-mode: multiply;	-webkit-mix-blend-mode: multiply;
}
#tshirt_layer_17{
	z-index: 17;	-o-mix-blend-mode: multiply;	-ms-mix-blend-mode: multiply;	-moz-mix-blend-mode: multiply;	mix-blend-mode: multiply;	-webkit-mix-blend-mode: multiply;
}
#tshirt_layer_18{
	z-index: 18;	-o-mix-blend-mode: multiply;	-ms-mix-blend-mode: multiply;	-moz-mix-blend-mode: multiply;	mix-blend-mode: multiply;	-webkit-mix-blend-mode: multiply;
}
#tshirt_layer_19{
	z-index: 19;	-o-mix-blend-mode: multiply;	-ms-mix-blend-mode: multiply;	-moz-mix-blend-mode: multiply;	mix-blend-mode: multiply;	-webkit-mix-blend-mode: multiply;
}
#tshirt_layer_20{
	z-index: 20;	-o-mix-blend-mode: multiply;	-ms-mix-blend-mode: multiply;	-moz-mix-blend-mode: multiply;	mix-blend-mode: multiply;	-webkit-mix-blend-mode: multiply;
}
/*shoes*/
#shoes_container{
 position: relative;
 width: 300px;
 height: 225px;
}

#shoes_container .shoes_layer{
 position: absolute;
 display: table;
  width: 300px;
 height: 225px;
}

#shoes_layer_1{
 z-index: 1;
}

#shoes_layer_2{
	z-index: 2;
	-o-mix-blend-mode: multiply;
	-ms-mix-blend-mode: multiply;
	-moz-mix-blend-mode: multiply;
	mix-blend-mode: multiply;
	-webkit-mix-blend-mode: multiply;
}